/* RESET CSS */
/*
 1. Correct the line height in all browsers.
 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    scroll-behavior: smooth;
}

/* Remove the margin in all browsers */

body {
    margin: 0;
}

/* Render the `main` element consistently in IE */

main {
    display: block;
}

/* Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* 1. Add the correct box sizing in Firefox.
   2. Show the overflow in Edge and IE */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/* 1. Correct the inheritance and scaling of font size in all browsers.
   2. Correct the odd `em` font sizing in all browsers */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Remove the gray background on active links in IE 10 */

a {
    background-color: transparent;
}

/* 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/* Add the correct font weight in Chrome, Edge, and Safari */

b,
strong {
    font-weight: bolder;
}

/* 1. Correct the inheritance and scaling of font size in all browsers.
   2. Correct the odd `em` font sizing in all browsers */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Add the correct font size in all browsers */

small {
    font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Remove the border on images inside links in IE 10 */

img {
    border-style: none;
}

/* 1. Change the font styles in all browsers.
   2. Remove the margin in Firefox and Safari */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/* Show the overflow in IE.
   1. Show the overflow in Edge */

button,
input {
    /* 1 */
    overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE.
   1. Remove the inheritance of text transform in Firefox */

button,
select {
    /* 1 */
    text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/* Restore the focus styles unset by the previous rule */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/* Correct the padding in Firefox */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/* 1. Correct the text wrapping in Edge and IE.
   2. Correct the color inheritance from `fieldset` elements in IE.
   3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */

progress {
    vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE 10+ */

textarea {
    overflow: auto;
}

/* 1. Add the correct box sizing in IE 10.
   2. Remove the padding in IE 10 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/* Correct the cursor style of increment and decrement buttons in Chrome */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/* 1. Correct the odd appearance in Chrome and Safari.
   2. Correct the outline style in Safari */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* 1. Correct the inability to style clickable types in iOS and Safari.
   2. Change font properties to `inherit` in Safari */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*  Add the correct display in Edge, IE 10+, and Firefox */

details {
    display: block;
}

/* Add the correct display in all browsers */

summary {
    display: list-item;
}

/* Add the correct display in IE 10+ */

template {
    display: none;
}

/* Add the correct display in IE 10 */

[hidden] {
    display: none;
}

/* Reset border button*/

button {
    border: 0;
}


/*--------------------------------------------------------*/



:root {
    --main-bg-color: rgba(94, 104, 33, 0.09);
    --main-text-color: rgb(59, 59, 59);
    --border-color: rgba(94, 104, 33, 1);
    --link-hover-color: rgb(94, 104, 33);
    --button-color: rgba(94, 104, 33, 1);
    --button-hover-color: rgb(79, 87, 29);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* FLASH MESSAGE */

.flash-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 127, 44, 0.85);
    padding: 0.5rem 1rem;
}

.flash-link {
    text-decoration: none;
    color: rgb(245, 240, 230);
    flex: 1;
    text-align: center;
}

.flash-link:hover {
    text-decoration: none;
}

.close-banner-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
}

.close-banner-btn:hover {
    background-color: var(--button-color);
}

/* TOP-BAR */

.top-bar-wrapper {
    width: 100%;
    background-color: rgba(126, 137, 54, 0.43);
}

.top-bar {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-contats {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
}

.container-contats a:hover {
    color: rgb(104, 102, 98);
}

.contact-item a {
    color: var(--main-text-color);
    text-decoration: none;
}

.contact-item i {
    padding-right: 0.2rem;
}

/* DROPDOWN-MENU */

.dropdown-menu-title {
    color: rgb(49, 47, 47);
    font-size: 0.9rem;
}

.dropdown-menu-title:hover {
    color: rgb(80, 78, 76);
}

.dropdown-menu-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown-menu-wrapper button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.dropdown-menu-content {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 8px;
    z-index: 10;
}

.is-hidden {
    display: none;
}

.dropdown-menu-content li {
    padding: 0.5rem;
    list-style: none;
    cursor: pointer;
}

.dropdown-menu-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--main-text-color);
    white-space: nowrap;
}

.dropdown-menu-link:hover {
    color: var(--link-hover-color);
}

/* HEADER-TOP */

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--border-color);
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    z-index: 1000;
    background: rgb(237, 238, 229);
    border-bottom: 2px solid rgba(95, 104, 33, 0.103);
}

/* SEARCH CONTAINER */

.search-container {
    position: relative;
    display: flex;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.095);
    border-radius: 10px;
    background-color: rgba(252, 252, 250, 0.921);
    border: 1px solid rgba(0, 0, 0, 0.171);
}

.search-input {
    flex: 1;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
}

.search-btn {
    border: none;
    background-color: transparent;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    color: var(--main-text-color);
    cursor: pointer;
}

.mobile-search-btn i {
    pointer-events: none;
}

/* SEARCH RESULTS */

.search-result {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(252, 252, 250);
    border: 1px solid rgba(0, 0, 0, 0.171);
    max-height: 340px;
    overflow-y: auto;
    z-index: 100;
    border-radius: 5px;
    display: block;
    transition: 0.3s opacity, 0.3s transform;
}

.search-result.is-hidden {
    display: none;
}

.search-result-product {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--main-text-color);
}

.search-result-product:hover {
    background-color: rgba(95, 104, 33, 0.049);
}

.search-result-img {
    max-width: 90px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.search-results-product-info h4 {
    padding-bottom: 0.5rem;
}

.search-results-product-info p {
    color: rgb(118, 114, 114);
    font-size: 1rem;
}

/*HEADER-BOTTOM*/

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.header-nav a {
    text-decoration: none;
}

.header-icons {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.header-icons-mobile {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1rem;
}

nav ul li a {
    color: var(--main-text-color);
}

nav ul li a:hover {
    color: var(--link-hover-color);
    cursor: pointer;
    text-decoration: none;
}

.icon-btn {
    border: none;
    font-size: 1rem;
    color: var(--main-text-color);
    text-decoration: none;
    background-color: transparent;
}

.login-btn:hover,
.reg-btn:hover {
    text-decoration: underline;
}

.profile-btn {
    display: none;
}

.icon-btn i {
    font-size: 1.2rem;
}

.icon-btn:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}

/* MAIN */

.main-section {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    border-bottom: var(--border-color) solid 2px;
    padding-bottom: 2rem;
}

.sidebar {
    display: flex;
    max-width: 300px;
    padding-right: 2rem;
}

.sidebar a {
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding-bottom: 2rem;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--main-text-color);
}

.sidebar ul li a:hover {
    color: var(--link-hover-color);
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li i {
    display: inline-block;
    transform: rotate(45deg);
    font-size: 2rem;
    margin-right: auto;
}

.content {
    flex: 2 1 0;
    max-width: 100%;
    border-left: var(--border-color) solid 2px;
    padding-left: 2rem;
}

.mainFlower {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* LOGIN */

body.login-form-body .footer-content {
    border-top: 2px solid var(--border-color);
}

.login-form {
    color: var(--main-text-color);
    max-width: 450px;
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    padding: 0;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-forgot {
    color: var(--main-text-color);
    text-decoration: none;
}

.form-forgot:hover {
    text-decoration: underline;
    color: var(--button-color);
}

.is-required label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(94, 104, 33, 0.09);
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.reg-form-submit {
    background-color: var(--button-color);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: var(--button-color);
}

.checkbox-wrapper label {
    margin-left: 0.4rem;
    cursor: pointer;
    user-select: none;
}


/* REGISTRATION */

.reg-password {
    display: flex;
    gap: 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group input {
    width: 100%;
}

.reg-form-submit {
    transition: background-color 0.3s ease;
}

.reg-form-submit:hover {
    background-color: var(--button-hover-color);
}

.reg-link {
    color: var(--main-text-color);
    text-decoration: none;
}

.reg-link:hover {
    text-decoration: underline;
    color: var(--button-color);
}

.reg-link:active {
    color: rgb(79, 87, 29);
}


/*MOBILE MENU HEADER*/

.mobile-menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 70vw;
    max-width: 600px;
    height: 100vh;
    background-color: rgb(249, 249, 249);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 9998;
}

.overlay.active {
    display: block;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-bottom {
    border-top: 2px solid var(--border-color);
}

.mobile-bottom ul li a {
    text-decoration: none;
}

.mobile-top ul,
.mobile-bottom ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu ul li {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.hamburger {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    font-size: 2rem;
    position: relative;
    color: var(--main-text-color);
}

.hamburger-describe {
    font-size: 1rem;
}

.hamb-menu-title {
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.menu-hamburger {
    gap: 0;
}

.menu-hamburger a {
    text-decoration: none;
}

.menu-hamburger a:hover {
    color: var(--main-text-color);
}

.menu-hamburger li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--main-text-color);
}

.text-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.menu-hamburger li>a>i:last-child {
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu-hamburger li.is-active>a>i:last-child,
.menu-hamburger li.is-collapsed>a>i:last-child {
    transform: rotate(180deg);
}

.mobile-menu .is-collapse li {
    border-bottom: none !important;
    padding: 0px;
}

.mobile-menu .is-collapse li a {
    font-size: 0.8rem;
}

.mobile-menu .text-wrapper {
    padding: 15px;
}

/* PRODUCTS SECTION */

.products {
    font-weight: 500;
    font-size: 2rem;
    color: var(--main-text-color);
    padding-top: 1.5rem;
}

.product-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.product-scroll {
    display: flex;
    overflow-x: auto;
    margin: 0 auto;
    gap: 2rem;
}

/* PRODUCTS SECTION - CARD*/

.product-card {
    flex: 0 0 calc(100% / 5 - 0.8rem);
    background: transparent;
    text-align: center;
    position: relative;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    position: relative;
    margin-bottom: 1rem;
}

.product-img img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.badge-wrapper {
    position: absolute;
    top: 10px;
    left: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.product-badge {
    padding: 5px 8px;
    font-size: 0.8rem;
}

.product-name {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--main-text-color);
    text-decoration: none;
}

.product-name:hover {
    color: var(--link-hover-color);
}

.product-sum {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.product-dph {
    font-size: 0.8rem;
    color: rgb(94, 90, 90);
}

.product-price {
    font-weight: bold;
    color: var(--link-hover-color);
}

.add-to-cart {
    background-color: var(--button-color);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8rem;
}

.add-to-cart:hover {
    padding: 10px 20px;
    background-image: url(images/cart-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}


/* WISHLIST-ICON */

.wishlist-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: 5px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center
}

.wishlist-icon.is-loading::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(58, 115, 8, 0.2);
    border-left-color: rgba(94, 104, 33, 1);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.wishlist-icon.is-loading>* {
    display: none;
}

.wishlist-icon i {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgba(58, 115, 8, 0.2);
    display: flex;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
}

.wishlist-icon i:hover {
    color: rgba(94, 104, 33, 1);
}

.wishlist-icon.is-toggled i.bi-heart-fill {
    color: rgba(94, 104, 33, 1);
}

.wishlist-icon.is-toggled i.bi-heart-fill:hover::before {
    content: "\f770";
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/*PRODUCT SECTION - SCROLL*/

.product-slider-wrapper {
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
}

.product-scroll {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-scroll::-webkit-scrollbar {
    display: none;
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(251, 251, 251);
    border: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    display: none;
    border-radius: 20px;
}

.scroll-arrow.left {
    left: 0.5rem;
}

.scroll-arrow.right {
    right: 0.5rem;
}

.product-slider-wrapper:hover .scroll-arrow {
    display: block;
}

/* ARTICLES */

.our-articles {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 2px solid var(--border-color);
}

.articles-title {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 2rem;
    border-bottom: var(--border-color) solid 2px;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.article-wrapper {
    position: relative;
    width: 270px;
    height: auto;
    flex-shrink: 0;
}

.article-date {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px;
    background-color: white;
    color: var(--main-text-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-align: center;
}

.article-date::before {
    content: attr(data-day);
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.article-date::after {
    content: attr(data-month);
    display: block;
    font-size: 15px;
}

.article-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--button-color);
    font-size: 0.8rem;
    padding: 4px 8px;
}


.article-wrapper .article-tag {
    color: white;
    text-decoration: none;
}

.article-wrapper .article-tag:hover {
    color: rgba(255, 255, 255, 0.8);
}

.article-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(118, 114, 114, 0.378);
    padding-bottom: 1.5rem;
}

.article-card:last-child {
    border-bottom: none;
}

.article-content {
    text-decoration: none;
    color: var(--main-text-color);
    text-align: left;
    font-size: 2.3rem;
}

.article-content:hover {
    color: rgb(118, 114, 114);
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease-in-out;
}

.article-card:hover img {
    transform: scale(1.05);
}

.article-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    text-align: left;
}

.article-meta {
    display: flex;
    gap: 0.7rem;
    padding-bottom: 1.5rem;
}

.article-author {
    text-decoration: none;
    color: rgb(118, 114, 114);
}

.article-author:hover {
    color: var(--main-text-color);
}

.article-comment {
    position: relative;
    text-decoration: none;
}

.article-comment i {
    color: rgb(118, 114, 114);
}

.article-comment i:hover {
    color: var(--main-text-color);
}

.comment-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--button-color);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.5rem;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.footer-content {
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    border-bottom: var(--border-color) 2px solid;
    justify-content: center;
    box-sizing: border-box;
}

.footer-sub {
    max-width: 400px;
    margin: 1rem 0;
    border-right: var(--border-color) solid 2px;
    flex: 0 0 auto;
    padding-right: 1rem;
}

.newsletter-txt {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-btn {
    background-color: var(--button-color);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-sub input[type="email"] {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(94, 104, 33, 0.09);
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.footer-btn:hover {
    background-color: var(--button-hover-color);
}

.newsletter-agree {
    color: rgb(118, 114, 114);
    display: block;
    margin: 0;
    padding: 0;
}

.footer-social {
    margin-top: 1rem;
}

.footer-social a {
    color: rgb(94, 90, 90);
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1rem;
}

.footer-social a:hover {
    color: var(--link-hover-color);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding-left: 1rem;
    text-decoration: none;
    box-sizing: border-box;
}

.footer-links>div {
    flex: 0 0 33.33%;
    box-sizing: border-box;
}

.footer-links ul {
    text-decoration: none;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.footer-links a {
    color: var(--main-text-color);
    text-decoration: none;
}

.footer-contact ul li {
    color: var(--main-text-color);
}

.footer-links a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.payment-methods img {
    width: auto;
    height: 25px;
}

.footer-bottom {
    margin-top: auto;
    padding: 0.5rem 0;
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom a {
    text-decoration: none;
    color: var(--link-hover-color);
}

.footer-bottom a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

/* SUBPAGE FLOWERS */


h3 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
}

.flowers-description {
    text-align: center;
    line-height: 1.8;
    font-size: 1.2rem;
    color: rgb(118, 114, 114);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(191, 194, 170, 0.225);
}

.filter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
}

.filter-options a {
    color: var(--main-text-color);
    margin-right: 2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(95, 104, 33, 0.225);
    padding: 15px;
    background-color: rgba(202, 206, 182, 0.16);
    text-decoration: none;
}

.filter-options a:hover {
    background-color: rgba(66, 74, 23, 0.144);
}

.filter-options a:first-child {
    background-color: rgba(116, 127, 44, 0.719);
    color: rgb(245, 240, 230);
}

.filter-options a:first-child:hover {
    background-color: var(--button-color);
}

.filter-options a:hover {
    text-decoration: none;
}

.filter-btn {
    color: var(--main-text-color);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 10px rgba(95, 104, 33, 0.225);
    padding: 15px;
    background-color: rgba(202, 206, 182, 0.16);
    cursor: pointer;
}

.filter-btn:hover {
    background-color: rgba(66, 74, 23, 0.144);
}

.filter-btn span {
    color: var(--main-text-color);
    font-size: 1rem;
}

.filter-dropdown {
    position: relative;
    display: inline-block;
}

.filter-menu {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    padding: 0.3rem;
    background: rgb(239, 238, 233);
    border: 2px solid #ccc;
    border-radius: 5px;
    min-width: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.filter-menu.active {
    display: block;
}

.filter-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-menu li {
    margin-bottom: 0.5rem;
}

.filter-menu input[type="checkbox"] {
    margin-right: 0.5rem;
}

.sort-dropdown-mobile {
    display: none;
}

/* PRODUCTS GRID */

.products-layout {
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid var(--border-color);
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-bottom: 15px;
}

/* SIDEBAR */
.sidebar-subpage {
    width: 500px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu>li {
    border-bottom: 1px solid #ddd;
}

.menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
}

.is-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    list-style: none;
}

.is-collapse>li>a {
    color: rgb(118, 114, 114);
}

.is-collapsed {
    max-height: 1000px;
}

.is-collapsed a:hover {
    color: var(--main-text-color);
}

.menu li>a>i:last-child {
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu li.is-active>a>i:last-child,
.menu li.is-collapsed>a>i:last-child {
    transform: rotate(180deg);
}

/* DESKTOP */

@media (min-width: 768px) {

    .mobile-menu,
    .hamburger {
        display: none;
    }
}

/* MOBIL */

@media (max-width: 767px) {

    /* TOP BAR */
    .container-contats {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    /* HEADER */
    .sidebar,
    .auth-links,
    .header-icons {
        display: none;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-top-inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        flex: 0 0 auto;
        margin-right: auto;
    }

    .logo {
        flex: 0 0 auto;
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 0 10px;
    }

    .header-icons-mobile {
        display: flex;
        gap: 10px;
        margin-left: auto;
    }

    .profile-btn {
        display: flex;
    }

    /* SEARCH CONTAINER */

    .search-container {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin: 1rem 0;
        box-sizing: border-box;
    }

    .search-input {
        flex: 1;
    }

    .search-btn {
        flex: 0 0 auto;
    }

    .header-nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* MAIN IMG FLOWER */

    .main-section {
        border-bottom: none;
    }

    .content {
        border-left: none;
        padding-left: 0;
    }


    /* PRODUCT SECTION */

    .products {
        border-bottom: rgba(94, 104, 33, 1) solid 2px;
        padding-bottom: 1rem;
    }

    .product-card {
        flex: 0 0 calc(100% / 2 - 0.8rem);
    }

    .scroll-arrow {
        display: none;
    }

    /* ARTICLES */

    .articles-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
        width: 100%;
    }

    .article-wrapper {
        width: 100%;
        aspect-ratio: 16 / 11;
        overflow: hidden;
        position: relative;
    }

    .article-card {
        display: flex;
        width: 100%;
        flex-direction: column;
        border: none;
        padding: 0;
    }

    .article-info {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 0.6rem;
    }

    .article-content {
        text-align: center;
        font-size: 1rem;
    }

    .article-meta {
        padding-bottom: 0.5rem;
    }

    .article-card img {
        position: absolute;
        inset: 0;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    /* FOOTER */

    .footer-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        border-top: none;
    }

    .footer-sub {
        border-right: none;
        margin-top: 0.3rem;
        padding: 0;
    }

    .footer-sub img {
        display: block;
        margin: 0 auto;
        width: 230px;
    }

    .footer-heading {
        font-size: 1rem;
        padding: 1rem 0;
        margin: 0;
    }

    .footer-contact ul li {
        color: rgb(118, 114, 114);
    }

    .footer-links a {
        font-size: 0.8rem;
        color: rgb(118, 114, 114);
    }

    .footer-links ul li {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }

    /* SUBPAGE FLOWERS */

    .filter-options {
        display: none;
    }

    .filter-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sort-dropdown-mobile {
        display: block;
        order: 1;
        text-align: left;
    }

    .checkbox-filter {
        display: block;
        order: 2;
        text-align: right;
    }

    .sidebar-subpage {
        display: none;
    }

    .articles-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* TABLET */

@media (max-width: 1024px) and (min-width: 768px) {

    .header-left,
    .sidebar,
    .auth-,
    .header-icons {
        display: none;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-top-inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 0 0 auto;
        margin-right: auto;
    }

    .logo {
        display: block;
        width: 80%;
        height: auto;
        padding: 0 10px;
        margin: 0 auto;
        flex: 0 0 auto;
    }

    .header-icons-mobile {
        display: flex;
        flex: 0 0 auto;
        margin-left: auto;
        gap: 10px;
    }

    .profile-btn {
        display: flex;
    }

    .search-container {
        width: 100%;
        box-sizing: border-box;
        margin: 1rem 0;
    }

    .header-nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .content {
        border-left: none;
        padding-left: 0;
    }


    /* ARTICLES */

    .article-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }

    .article-content {
        display: inline-block;
        text-align: center;
    }

    /* FOOTER */

    .footer-content {
        width: 100%;
        max-width: 1400px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer-sub {
        border-right: none;
        padding-left: 1rem;
        max-width: 750px;
    }

    .newsletter-reg {
        text-align: center;
        justify-content: center;
    }

    .newsletter-txt {
        text-align: center;
    }

    .footer-sub img {
        display: block;
        margin: 0 auto;
    }


    .footer-links {
        gap: 2rem;
    }

    .footer-contact ul li {
        color: rgb(118, 114, 114);
    }

    .footer-links a {
        color: rgb(118, 114, 114);
    }

    /* SUBPAGE FLOWERS */

    .filter-options {
        display: none;
    }

    .filter-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sort-dropdown-mobile {
        display: block;
        order: 1;
        text-align: left;
    }

    .checkbox-filter {
        display: block;
        order: 2;
        text-align: right;
    }

    .sidebar-subpage {
        display: none;
    }
}