* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(94, 104, 33, 0.09);
    font-family: 'Manrope', sans-serif;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: rgba(94, 104, 33, 1) solid 2px;
}

.header-left {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   max-width: 320px;
   width: 100%; 
}

.header-icons {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1rem;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: rgb(94, 104, 33);
    cursor: pointer;
    text-decoration: none;
}


.icon-btn {
    border: none;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.profile-btn {
    display: none;
}

.icon-btn i {
    font-size: 1.2rem;
}

.icon-btn:hover {
    color: rgb(94, 104, 33);
    cursor: pointer;
}

/* MAIN */

.main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 2rem;
    border-bottom: rgba(94, 104, 33, 1) solid 2px;
    padding-bottom: 2rem;
}

.sidebar {
    flex: 1 1 250px;
    max-width: 300px;
    margin-top: 5rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 2.3rem;
    color: rgb(51, 51, 51);
    margin-bottom: 1.3rem;
}

.sidebar ul li a:hover {
    color: rgb(94, 104, 33);
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li i {
    display: inline-block;
    transform: rotate(45deg);
    font-size: 3rem;
}

.content {
    flex: 2 1 0;
    max-width: 100%;
    border-left: rgba(94, 104, 33, 1) solid 2px;
    padding-left: 2rem;
}

.mainFlower {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* LOGIN */

.login-form {
    width: 90%;
    max-width: 450px;
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    padding: 0;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.is-required label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(94, 104, 33, 0.09);
    box-sizing: border-box;
    margin-bottom: 1rem;
}


.reg-form-submit {
    background-color: rgba(94, 104, 33, 1);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: rgb(79, 87, 29);
}

.checkbox-wrapper label {
    margin-left: 0.4rem;
    cursor: pointer;
    user-select: none;
}


/* REGISTRATION */

.reg-password {
    display: flex;
    gap: 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group input {
    width: 100%;
}

.reg-form-submit {
    transition: background-color 0.3s ease;
}

.reg-form-submit:hover {
    background-color: rgb(79, 87, 29);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(79, 87, 29);
}

/* FLASH MESSAGE */

.flash-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 127, 44, 0.85);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
}

.flash-message p {
    flex: 1;
    text-align: center;
}

.close-banner-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
}

.close-banner-btn:hover {
    background-color: rgb(79, 87, 29);
}

/*MOBILE MENU HEADER*/

.mobile-menu {
    position: fixed;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    background-color: rgb(249, 249, 249);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
}


.mobile-menu.active {
    display: flex;
    transform: translateX(0);
}

.mobile-top {
    padding: 1rem;
}

.mobile-bottom {
    padding: 1rem;
    border-top: 2px solid rgb(79, 87, 29);
}

.mobile-top ul,
.mobile-bottom ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu ul li {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.mobile-menu ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 1100;
    position: relative;
    color: rgb(0, 0, 0);
}

/* PRODUCTS SECTION */

.products {
    font-weight: 500;
    font-size: 2rem;
    color: rgb(51, 51, 51);
}

.product-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.product-scroll {
    display: flex;
    overflow-x: auto;
    margin: 0 auto;
    gap: 2rem;
}

/* PRODUCTS SECTION - CARD*/

.product-card {
    flex: 0 0 calc(100% / 5 - 0.8rem);
    background: transparent;
    text-align: center;
    position: relative;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform:translateY(-5px);
}

.product-img {
    position: relative;
    margin-bottom: 1rem;
}

.product-img img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-badge {
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 5px 8px;
    font-size: 0.8rem;
}

.product-name {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.product-price {
    font-weight: bold;
    margin-bottom: 1rem;
}

.add-to-cart {
    background-color: rgb(94,104,33);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    padding: 10px 20px;
    background-image: url(images/cart-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.wishlist-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 30px;
    background: url(images/heart-green.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover .wishlist-icon {
    opacity: 1;
}

.wishlist-icon.is-toggled {
    background-image: url(images/heart-filled.svg);
    opacity: 1;
}

/*PRODUCT SECTION - SCROLL*/

.product-slider-wrapper {
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
}

.product-scroll {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-scroll::-webkit-scrollbar {
    display: none;
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(251, 251, 251);
    border: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    display: none;
    border-radius: 20px;
}

.scroll-arrow.left {
    left: 0.5rem;
}

.scroll-arrow.right {
    right: 0.5rem;
}

.product-slider-wrapper:hover .scroll-arrow {
    display: block;
}

/* ARTICLES */

.our-articles {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articles-title {
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 2rem;
    border-bottom: rgba(94, 104, 33, 1) solid 2px;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.article-wrapper {
    position: relative;
    width: 270px;
    height: auto;
    overflow: hidden;
}

.article-date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    color: #333;
    font-size: 12px;
    padding: 4px 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.article-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(94, 104, 33, 1);
    color: white;
    font-size: 12px;
    padding: 4px 8px;
}

.article-card {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(118, 114, 114, 0.378);
    padding-bottom: 25px;
}

.article-card:last-child {
    border-bottom: none;
}

.article-card a {
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    align-items: center;
    color: rgb(51, 51, 51);
}

.article-card a:hover {
    color: rgb(118, 114, 114);
}

.article-card img {
    max-width: 270px;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    transform-origin: center center;
}

.article-card:hover img {
    transform: scale(1.05);
}

.article-content {
    padding: 20px;
    text-align: left;
    font-size: 2.3rem;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    border-top: 2px solid rgba(94, 104, 33, 1);
    display: flex;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.footer-sub {
    max-width: 700px;
    padding-right: 1rem;
    margin-top: 2rem;
    border-right: rgba(94, 104, 33, 1) solid 2px;
}

.newsletter-txt {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.footer-btn {
    background-color: rgba(94, 104, 33, 1);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-sub input[type="email"] {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(94, 104, 33, 0.09);
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.footer-btn:hover{
    background-color: rgb(79, 87, 29);
}

.newsletter-agree {
    color: rgb(118, 114, 114);
}

.footer-social {
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.footer-social a {
    color: rgb(94, 90, 90);
    text-decoration: none;
    font-size: 35px;
}

.footer-social a:hover {
    color: rgb(79, 87, 29);
}

.footer-links {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.footer-links ul {
    text-decoration: none;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.footer-links a {
    color: rgb(51, 51, 51);
}

.footer-links a:hover {
    color: rgb(94, 104, 33);
    text-decoration: none;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.payment-methods {
    max-width: 1400px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 0;
}

.payment-methods img {
    height: 24px;
}


@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .mobile-search-container {
    display: none;
  }

  .footer-links {
    gap: 5rem;
  }
}

@media (max-width: 767px) {

    body {
        padding-top: 1rem;
    }

/* HEADER */

  .header-left,
  .sidebar,
  .auth-links,
  .search-btn {
    display: none;
  }

    .logo {
    max-width: 150px;
    margin-left: 3rem;
}

    a.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 150px;
}

  .profile-btn {
    display: flex;
    margin-left: 3rem;
  }

  .header-icons {
    gap: 0.5rem;
    background-color: transparent;
  }

/* MAIN IMG FLOWER */

  .main-section {
    border-bottom: none;
  }

  .content {
    border-left: none;
    padding-left: 0;
  }

/* MOBILE SEARCH */

  .mobile-search-container {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 18px;
    background-color: rgba(252, 252, 250, 0.921);
  }

  .mobile-search-input {
    flex: 1;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
  }

  .mobile-search-btn {
    border: none;
    background-color: transparent;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    color: rgb(10, 49, 19);
  }

  .mobile-search-btn i{
    pointer-events: none;
  }

/* PRODUCT SECTION */

    .products {
    border-bottom: rgba(94, 104, 33, 1) solid 2px;
    padding-bottom: 1rem;
    }

    .product-card {
    flex: 0 0 calc(100% / 2 - 0.8rem);
    }

    .scroll-arrow {
    display: none;
    }

/* ARTICLES */

    .articles-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .article-wrapper {
        width: 100%;
    }

    .article-card {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        border: none;
    }

    .article-card a {
        flex-direction: column;
        gap: 0.5rem;
    }

    .article-content {
        font-size: 1.5rem;
        padding: 0.5rem 0;
        text-align: center;
    }

    .article-card img {
        max-width: 100%;
        height: auto;
    }

    /* FOOTER */

    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 0.8rem;
    }

    .footer-sub {
        border-radius: none;
    }

  .payment-methods {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
  }
}