* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(94, 104, 33, 0.09);
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: rgba(94, 104, 33, 1) solid 2px;
}

.header-left {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   max-width: 320px;
   width: 100%; 
}

.header-icons {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1rem;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: rgb(94, 104, 33);
    cursor: pointer;
    text-decoration: none;
}


.icon-btn {
    border: none;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.profile-btn {
    display: none;
}

.icon-btn i {
    font-size: 1.2rem;
}

.icon-btn:hover {
    color: rgb(94, 104, 33);
    cursor: pointer;
}

/* MAIN */

.main-section {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    border-bottom: rgba(94, 104, 33, 1) solid 2px;
    padding-bottom: 2rem;
}

.sidebar {
    margin-top: 5rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 2.3rem;
    color: rgb(51, 51, 51);
    margin-bottom: 1.3rem;
}

.sidebar ul li a:hover {
    color: rgb(94, 104, 33);
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li i {
     display: inline-block;
     transform: rotate(45deg);
     font-size: 3rem;
}

.content {
    width: 100%;
    max-width: 1200px;
    border-left: rgba(94, 104, 33, 1) solid 2px;
    padding-left: 2rem;
}

.mainFlower {
    width: 100%;
    height: auto;
}

/* LOGIN */

.login-form {
    width: 90%;
    max-width: 450px;
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    padding: 0;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.is-required label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(94, 104, 33, 0.09);
    box-sizing: border-box;
    margin-bottom: 1rem;
}


.reg-form-submit {
    background-color: rgba(94, 104, 33, 1);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: rgb(79, 87, 29);
}

.checkbox-wrapper label {
    margin-left: 0.4rem;
    cursor: pointer;
    user-select: none;
}


/* REGISTRATION */

.reg-password {
    display: flex;
    gap: 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group input {
    width: 100%;
}

.reg-form-submit {
    transition: background-color 0.3s ease;
}

.reg-form-submit:hover {
    background-color: rgb(79, 87, 29);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
  color: rgb(79, 87, 29);
}

/* FLASH MESSAGE */

.flash-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 127, 44, 0.85);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
}

.flash-message p {
    flex: 1;
    text-align: center;
}

.close-banner-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
}

.close-banner-btn:hover {
    background-color: rgb(79, 87, 29);
}

/*MOBILE MENU HEADER*/

.mobile-menu {
    position: fixed;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    background-color: rgb(249, 249, 249);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
}


.mobile-menu.active {
    display: flex;
    transform: translateX(0);
}

.mobile-top {
    padding: 1rem;
}

.mobile-bottom {
    padding: 1rem;
    border-top: 2px solid rgb(79, 87, 29);
}

.mobile-top ul,
.mobile-bottom ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu ul li {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.mobile-menu ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 1100;
    position: relative;
    color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-left,
  .sidebar {
    display: none;
  }

.logo {
    margin-left: 60px;
   max-width: 150px;
}

a.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 150px;
}

  .auth-links {
    display: none;
  }

  .profile-btn {
    display: flex;
    margin-left: 3rem;
  }

.search-btn {
    display: none;
  }

  .header-icons {
    gap: 0.7rem;
    background-color: transparent;
  }
}